.singlePost {
    flex: 9;
}
.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
}
.singlePostImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.singlePostTitle {
    text-align: center;
    font-size: 28px;
    margin: 10px;
}
.singlePostEdit {
    float: right;
    font-size: 19px;
    padding-top: 8px;
}
.singlePostIcon:first-child{
    color:greenyellow
}
.singlePostIcon:last-child{
    color:tomato
}
.singlePostIcon {
    margin-left: 12px;
    cursor: pointer;
}
.singlePostInfo {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #b39656;
}
.singlePostAuthor{

}
.singlePostDate{

}
.singlePostDescription {
    color: #666;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}
.singlePostDescription::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
}